/* LOGO */

.logo {
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $black;

  &-item {
    color: $accent-text-color;
  }
}

.footer {
  .logo {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    color: $white;
  }
  .logo:focus,
  .logo:hover {
    color: $accent-text-color;
  }
}
